/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/
:root {
  --bg-dark: rgba(255, 255, 255, 0.05);
	--bg-input: #3a3b3c;
  --hover-brightness: 1.2;
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

.standard-logo {
  text-transform: uppercase;
  color: #282828 !important;
  margin-left: 2rem;
}

#main-intro {
  display: block;
  max-width: 600px;
}
textarea {
  border: none;
  background-color: var(--bg-input) !important;
  padding-left: 10px;
  padding-top: 10px;
  display: block;
  width: 100%;
  color: #999;
}
input {
  border: none;
  background-color: var(--bg-input) !important;
  height: 3em;
	padding-left: 1em;
  color: #999;
}

textarea:focus,
input:focus {
  background-color: rgba(255, 255, 255, 0.1) !important;
  border: 255, 255, 255, 0.2 !important;
  outline: 3px blue !important;
  transition: 0.25s ease-in-out;
  color: white;
  opacity: 1 !important;
}



label {
  opacity: 0.75;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1em;
  text-transform: none;
}
select::-ms-expand {
  // removal of arrow in lower IE versions
  display: none;
}
select {
  // A reset
  appearance: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  text-indent: 1px;
  text-overflow: "";
  /* Personalize */
  max-width: 200px;
  height: 3em;
  padding: 0 4em 0 1em;
  background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg)
      no-repeat right 0.8em center / 1.4em, #3a3b3c;
    );
  color: #999;
  border-radius: 1px;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-right: 15px;
}
select option {
  color: white;
  background-color: #3a3b3c;
}

select option:focus {
  // remove focus outline
  outline: none;
}

.btn-submit {
  border-color: rgba(255, 255, 255, 0.5);
  color: white;
  opacity: 0.75;
  width: 175px;
  height: 50px;
}
.btn-submit:focus {
}
.social-icon {
  padding-top: 10px;
}
.phone-label {
  margin-right: 5px;
}
::placeholder {
	color: inherit !important;
}
label.error {
	color: #ff6863;
	font-weight: 600;
	display: block !important;
	font-size: inherit;
}
@media (max-width: 500px) {
  #bg-main {
    background-image: none !important;
  }
	#header:(.sticky-header) #logo a {
		opacity: 0;
		pointer-events: none;
	}
	#header {
		display: fixed !important;
	}
	a.retina-logo {
		visibility: visible;
		display: fixed !important;
	}

}
